<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">     
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        rel="stylesheet">
        
    </head>
    <body>
        <header>
            <section class = "primeraSeccionHeader">
                <img class="Logo-ml" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                <section class = "barra-busqueda-icono">  
                    <input class = "barra-busqueda" placeholder="Buscar productos, marcas" type="text"></input>         
                    <i class="fa-solid fa-magnifying-glass" id = "icono-lupa"></i>
                </section>
                <p class="advertencia-compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
            <section class = "segundaSeccionHeader">
                <div class="navbar">
                        <ul class = "primera-lista">
                            <li><a href = "ofertas.html">Ofertas</a></li>
                            <li><a href = "tiendas-oficiales.html">Tiendas Oficiales</a></li>
                            <li><a href = "vender.html">Vender</a></li>
                            <li><a href = "ayuda.html">Ayuda</a></i></li>
                        </ul> 
                        <ul class="segunda-lista">
                            <li id="hola">
                                <a href = "/register.html">Creá tu Cuenta</a>
                                <i class="fa-solid fa-address-card"></i>
                            </li>
                            <li>
                                <a href = "/login.html">Ingresá</a>
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </li> 
                            <li>
                                <a href = "mis-compras.html">Mis Compras</a>
                                <i class="fa-solid fa-basket-shopping"></i>
                            </li>
                        </ul>
                </div>    
            </section>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </header>
        <main>
            <section class="section-articulos">
                <h3 class="Titulares">Basado en tu última visita</h3>   
                <section class = "sub-section-articulos">
                    <article>
                            <img class ="Imagen-articulo" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                            <section class = "descripcionProducto">
                                <div class = "envioCamion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="descripcionTotalProducto"> <!-- este div contenedor
                                permit asignle un flex row y poder dejar un espacio debajo de
                                h3 descripciones tal como pedía el ejercicio de la clase 14 -->
                                    <div class = "precioDescuento">
                                        <p class="Precios">$6.770</p>
                                        <p class="Descuentos">40% off</p>
                                    </div>
                                    <h3 class="Descripciones">Cafetera Moulinex</h3>
                                </div>
                            </section>
                        </article>
                </section>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class = "Imagen-articulo" src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                            </div>   
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">
                                    <p class="Precios">$230.000</p>
                                    <p class="Descuentos">20% off</p>
                                </div>
                                <h3 class="Descripciones">MacBook Pro 2019</h3>
                            </div>
                        </section>
                    </article>
                </section>
                <div class="line-break"></div>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                             </div> 
                             <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">     
                                    <p class="Precios">$70.500</p>
                                    <p class="Descuentos">10% off</p>
                                </div>    
                                <h3 class="Descripciones">Samsung Galaxy S10</h3>
                            </div>
                        </section>
                    </article>
                </section>   
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                 <i class="fa-solid fa-truck"></i>
                            </div>  
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">   
                                    <p class="Precios">$23.200</p>
                                    <p class="Descuentos">5% off</p>
                                </div>    
                                <h3 class="Descripciones">SmartTv Samsung 43"</h3>
                            </div>
                        </section>
                    </article> 
                </section> 
                <div class="line-break"></div> 
                <h3 class="Titulares">Basado en tu última visita</h3>
                <section class = "sub-section-articulos">
                    <article>
                            <img class ="Imagen-articulo" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                            <section class = "descripcionProducto">
                                <div class = "envioCamion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="descripcionTotalProducto"> <!-- este div contenedor
                                permit asignle un flex row y poder dejar un espacio debajo de
                                h3 descripciones tal como pedía el ejercicio de la clase 14 -->
                                    <div class = "precioDescuento">
                                        <p class="Precios">$6.770</p>
                                        <p class="Descuentos">40% off</p>
                                    </div>
                                    <h3 class="Descripciones">Cafetera Moulinex</h3>
                                </div>
                            </section>
                        </article>
                </section>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class = "Imagen-articulo" src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                            </div>   
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">
                                    <p class="Precios">$230.000</p>
                                    <p class="Descuentos">20% off</p>
                                </div>
                                <h3 class="Descripciones">MacBook Pro 2019</h3>
                            </div>
                        </section>
                    </article>
                </section>
                <div class="line-break"></div>  
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                <i class="fa-solid fa-truck"></i>
                             </div> 
                             <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">     
                                    <p class="Precios">$70.500</p>
                                    <p class="Descuentos">10% off</p>
                                </div>    
                                <h3 class="Descripciones">Samsung Galaxy S10</h3>
                            </div>
                        </section>
                    </article>
                </section>      
                <section class = "sub-section-articulos">
                    <article>
                        <img class ="Imagen-articulo" src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                        <section class = "descripcionProducto">
                            <div class = "envioCamion">
                                 <i class="fa-solid fa-truck"></i>
                            </div>  
                            <div class="descripcionTotalProducto">
                                <div class = "precioDescuento">  
                                    <p class="Precios">$23.200</p>
                                    <p class="Descuentos">5% off</p>
                                </div>    
                                <h3 class="Descripciones">SmartTv Samsung 43"</h3>
                            </div>
                        </section>
                    </article>
            </section>
            <div class="line-break"></div> 
        </main>
        <br>
        <footer>
        <section class ="footerClase">
            <section class="pago-con-tarjeta">
                <i class="fa-sharp fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o 
                efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </section>
         
            <section class="envio-gratis">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde los $ 2.500</h3>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un beneficio de Mercado Puntos
            </p>
            </section>
           
            <section class="seguridad-principio">
                <i class="fa-solid fa-user-shield"></i> 
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre 
                    no hay nada que no puedas hacer porque estás siempre 
                    protegid@.
            </p>
            </section>
          
        </section>  
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </footer>
  
    </body>
  </html>

