<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap"
            rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    
    </head>
<body>
    <form action="/" method="GET" class="formulario" class="formulario">

        <label for="nombre-usuario">Nombre de usuario</label>
        <input type="text" name="nombre-usuario" id="nombre-usuario"/>

        <label for="contraseña">Contraseña</label>
        <input type="password" name="contraseña" id="contraseña"/>

        <button type="submit" class="botonEnviar">Enviar</button>
    </form>
</body>
</html>
